.divuser {
    text-align: right;
  }
 .divbot {
    text-align: left;
  }

.spanbot {
    border-radius: 1em;
    display:inline-box;
    background-color: #C2BBF0;
    padding: 0.1em 1em;
    word-wrap:break-word;
  }
.spanuser {
    border-radius: 1em;
    display: inline-box;
    background-color: #B7CEEE;
    padding: 0.1em 1em;
    word-wrap:break-word;
  }