.divuser {
    text-align: right;
  }
 .divbot {
    text-align: left;
  }

.spanbot {
    border-radius: 1em;
    display:inline-box;
    background-color: #C2BBF0;
    padding: 0.1em 1em;
  }
.spanuser {
    border-radius: 1em;
    display: inline-box;
    background-color: #3590F3;
    padding: 0.1em 1em;
  }